/* BODY */
body{
    background: #2a9096;
}


/* LOGO */
.content-home{
    border-radius: 20px;
    background-color: #7AC9CE;
    box-shadow: 0px 3px grey;
    margin: 0 auto;
    margin-top: 15%;
    width: 500px;
}

.logo{
    height: 170px;
    padding: 30px;
    display: block;
    margin: 0 auto;
}

.name{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* BUTTON */
a{
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    display: block;

    background-color: #7AC9CE;
    color: #000;
    box-shadow: 2px 2px 3px grey;
    padding: 20px;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    color: #fff;
    transition: 1s;
}


/* ICONS */
.fa-linkedin{
    position: fixed;
    left: 5%;
    bottom: 5%;
    font-size: 50px;
}
.fa-twitter-square{
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 50px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .logo{
        height: 200px;
    }
    .name{
        font-size: 40px;
    }
  }
@media only screen and (max-width: 610px) {
    .name{
        display: none;
    }
    .content-home{
        width: 100%;
    }
    .logo{
        height: 100px;
    }
    .fa-linkedin{
        bottom: 20%;
        left: 25%;
    }
    .fa-twitter-square{
        bottom: 20%;
        right: 25%;
    }
  }
